*{
    margin: 0;
    padding: 0;
    }
    html{
    
        box-sizing: border-box;
    }
    *,
    *:before,
    *::after{
    
        box-sizing: inherit;
    }
    /* -----------------------------------------------------------------------------------*/
    
    body{
        /* on définit la direction de l'axe proncipal comme étant vertical */
        display: flex;
        flex-direction: column;
        width: 100vw;
    
    }
    .menu {
        position:fixed ;
        top:0 ;
        right: 0;
        width: 400px;
        height:400px ;
    }
    /* si la case est cocher on fait apparaitre l'image «X» ,sinon on fait disparaitre l'IMAGE«g
    /* les conteneurs div autour de chaque section */
    .global {
        display: flex;
         justify-content: center;
         /* justify content */
        min-width: 100%;
        /*border: 1px solid #aaa; */
        min-height: 100vh;
       
    }
    .global section,
    .global header , .global footer {
        display: flex;
        flex: 0 1  1000px;
        border: 1px solid #aaa;
        background-color: rgba(0, 0, 0, 0.1);
        
    
    }
    
    #entete {
        background-color: rgb(224, 255, 50);
        min-height: 1vh;
        position: sticky;
        top: 0;
    }
    
    #entete header {
    
        justify-content: space-between;
        align-items: center;
        /* permet de définir le référenciel */ 
    }
    #acceuil {
        background-color: aquamarine;
    }
    #inscription{
        background-color: bisque;
    }
    #burger {
        width: 40px;
        position: absolute;
        margin-left: auto;
        top: 0;
        right: 0;
    
    }